/*
Jeremiah Kellam
CSD340 Assignment 3.3
6/6/2023
*/

h1 {
    text-align: center;
}

.div1, .div2 {
    display: inline-block;
    width: 45%;
    border-radius: 15px;
    padding: 10px;
}

.div1 {
    border: 1px solid red;
    
}

.div2 {
    float: right;
    border: 1px dashed red;
}

.div3 {
    width: 100%;
    margin-top: 60%;
}

ol, ul {
    font-weight: 300;
}

ol {

    list-style: decimal;
    list-style-position: inside;
}

ul {
    padding: 10px;
    list-style: upper-roman;
    list-style-position: inside;
}

h3 {
    font-weight: 500;   
}

a:hover {
    text-decoration: underline;
}

.bottom-div {
    float: right;
    margin-bottom: 20px;
}
